html {
    box-sizing: border-box;
}

@media (max-width: 48.875em) {
    html {
        margin-top: 0 !important;
    }
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    position: relative;
}

body,
html {
    overflow-x: hidden;
}

:focus {
    outline: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}


main {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 93.75em;
    position: relative;
}

@media (min-width: 37.5625em) {
    main {
        padding: 0 4.125em;
    }
}

@media (min-width: 64.0625em) {
    main {
        padding: 0 3.4375em;
    }
}

.sidebar {
    flex: 0 0 auto;
    width: calc(99.99% * 1/3 - 1.25em);
}

.sidebar:nth-child(1n) {
    margin-right: 1.875em;
    margin-left: 0;
}

.sidebar:last-child {
    margin-right: 0;
}

.sidebar:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
}

.sidebar > * {
    margin-bottom: 4.375rem;
}

.sidebar {
    display: none;
}

html:not(.wf-loading) body.is-people-2016 {
    font-family: HCo Gotham SSm, sans-serif !important;
}

html:not(.wf-loading) body.is-people-2016 button {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #067ab4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.site__link-content {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.button--large {
    background-color: transparent;
    border-style: solid;
    border-width: .125em;
    border-radius: 0;
    cursor: pointer;
    font: 700 1em/1 'Noto Serif JP', serif;
    height: 3.75rem;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.button--large:hover {
    color: #fff;
}

@media (max-width: 25em) {
    .button--large {
        font-size: .75em;
    }
}

.hidden {
    display: none;
}

.margin--body {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
}

.site-header {
    margin-bottom: 2.5em;
    box-shadow: 0 .1875rem .1875rem rgba(0, 0, 0, .1);
    z-index: 2;
}

@media (min-width: 64.0625em) {
    .site-header {
        padding: 0 3.4375em;
    }
}

body.single .site-header {
    margin-bottom: 2.5em;
}

button:hover .hamburger__piece {
    background-color: #d7d7d7;
}

button:hover .hamburger__piece--bottom {
    border-top: 1px solid hsla(0, 0%, 84%, .5);
}

button:hover .hamburger__piece--middle {
    border-bottom: 1px solid hsla(0, 0%, 84%, .75);
    border-top: 1px solid hsla(0, 0%, 84%, .75);
}

button:hover .hamburger__piece--top {
    border-bottom: 1px solid hsla(0, 0%, 84%, .5);
}

.hamburger__piece {
    display: block;
    height: .1875rem;
    width: 100%;
}

.hamburger__piece--black {
    background-color: #000;
}

.people-logo__path-1--fill {
    fill: #3ab8ec;
}

.people-logo__path-2--outline {
    fill: #fff;
}

a:active .svg__circle,
a:hover .svg__circle {
    fill: #fff;
}

a:active .svg__path--facebook,
a:hover .svg__path--facebook {
    fill: #3b5998;
}

a:active .svg__path--google-plus,
a:hover .svg__path--google-plus {
    fill: #dc4e41;
}

a:active .svg__path--instagram,
a:hover .svg__path--instagram {
    fill: #115789;
}

a:active .svg__path--pinterest,
a:hover .svg__path--pinterest {
    fill: #bd081c;
}

a:active .svg__path--snapchat,
a:hover .svg__path--snapchat {
    fill: #fffc00;
}

a:active .svg__path--snapchat--inner,
a:hover .svg__path--snapchat--inner {
    fill: #fff;
    opacity: 1;
    stroke: #000;
    stroke-width: .625em;
}

a:active .svg__path--twitter,
a:hover .svg__path--twitter {
    fill: #55acee;
}

a:active .svg__path--tumblr,
a:hover .svg__path--tumblr {
    fill: #37475d;
}

a:active .svg__path--wishbone,
a:hover .svg__path--wishbone {
    fill: #f15c68;
}

a:active .svg__path--youtube,
a:hover .svg__path--youtube {
    fill: #cd201f;
}

@media (min-width: 64.0625em) {
    .article-single__content {
        flex: 0 0 auto;
        width: calc(99.99% * 2/3 - 0.625em);
        float: left
    }

    .article-single__content:nth-child(1n) {
        margin-right: 1.875em;
        margin-left: 0
    }

    .article-single__content:last-child {
        margin-right: 0
    }

    .article-single__content:nth-child(0n) {
        margin-right: 0;
        margin-left: auto
    }
}

.article-header {
    margin: 0 2.25rem 2.875em;
    font-family: 'Noto Serif', serif;
}

@media (min-width: 64.0625em) {
    .article-header {
        flex: 0 0 auto;
        width: calc(99.99% * 2/3 - 0.625em);
        float: left;
        margin: 0;
    }

    .article-header:nth-child(1n) {
        margin-right: 1.875em;
        margin-left: 0;
    }

    .article-header:last-child {
        margin-right: 0;
    }

    .article-header:nth-child(0n) {
        margin-right: 0;
        margin-left: auto;
    }
}

.article-header > * {
    margin-bottom: 1rem;
}

.article-header__byline {
    font: 700 .875em/1 HCo Gotham SSm, sans-serif;
    letter-spacing: .15em;
    text-align: center;
    text-transform: uppercase;
}

.article-header__byline a {
    color: #000;
}

.article-header__byline a:active,
.article-header__byline a:hover {
    color: #067ab4;
}

@media (max-width: 37.5em) {
    .article-header__byline {
        font-size: .7em;
    }
}

.article-header__title {
    font: 48px 'Noto Serif JP', serif;
    font-weight: 300;
    line-height: 52px;
    letter-spacing: -.02em;
    text-align: center;
    margin-bottom: 1.25rem;
    padding-left: 20px;
}

@media (max-width: 37.5em) {
    .article-header__title {
        font-size: 1.875em;
    }
}

.article-header__title > :last-child {
    margin-bottom: 0;
}

@media (min-width: 37.5625em) {
    .article-header__share {
        margin-left: auto;
        margin-right: auto;
        max-width: 30em;
    }
}

.article-header__share a {
    font: 700 .6875em/1 'Noto Serif JP', serif;
    letter-spacing: .12em;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    height: 2.25rem;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1em;
    text-transform: uppercase;
    width: 100%;
    font-size: 9px !important;
}

@media (max-width: 25em) {
    .article-header__share a {
        font-size: .5em;
        padding: 0;
    }
}

.article-header__share a:before {
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 1.125rem;
    margin-right: .5rem;
    width: 1.125rem;
}

@media (max-width: 25em) {
    .article-header__share a:before {
        height: 1rem;
        width: 1rem;
    }
}

.article-header__share a .share-count {
    display: none;
}

.article-header__share li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 33.33333%;
    flex: 1 1 33.33333%;
    margin-right: 1.875em;
}

@media (max-width: 37.5em) {
    .article-header__share li {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin-right: 1em;
        width: calc(33.33333% - 1em);
    }
}

.article-header__share ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    margin: 0 0 1.875em;
    padding: 0;
}

.article-header__share .share-email {
    margin-right: 0;
}

/* headlines with lines */
.decorated {
    overflow: hidden;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;

}

.decorated > span {
    position: relative;
    display: inline-block;
}

.decorated > span:before,
.decorated > span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 592px;
    /* half of limiter */
    margin: 0 20px;
}

.decorated > span:before {
    right: 100%;
}

.decorated > span:after {
    left: 100%;
}

a.share-email:before {
    background-image: url('009566222ceb4a46d03edcc04e765e89/css/9cbfd83a12313d6395abc0bba9ecf1dd');
}

a.share-facebook:before {
    background-image: url('009566222ceb4a46d03edcc04e765e89/css/1d5df33295cbdc53171d9ec528c66ea4');
    margin-right: 0;
}

a.share-twitter:before {
    background-image: url('009566222ceb4a46d03edcc04e765e89/css/a38bbbeb2665cfa4e416b10f4d79e27c');
    margin-top: .1em;
}

li.share-end {
    display: none;
}

li.share-email {
    background-color: #27c4ff;
}

li.share-email:hover {
    background-color: #23b0e6;
}

li.share-facebook {
    background-color: #3b5998;
}

li.share-facebook:hover {
    background-color: #355089;
}

li.share-twitter {
    background-color: #55acee;
}

li.share-twitter:hover {
    background-color: #4d9bd6;
}

#sharing_email {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    padding: 15px;
    position: absolute;
    text-align: left;
    width: 342px;
}

@media (max-width: 64em) {
    #sharing_email {
        left: auto !important;
        right: 0;
    }
}

#sharing_email input[type=submit] {
    vertical-align: middle;
}

#sharing_email input[type=submit] {
    background-color: transparent;
    border: 1px solid #a3a3a3;
    cursor: pointer;
    font: 700 .6875em/1 'Noto Serif JP', serif;
    padding: .25em .5em;
    text-transform: uppercase;
}

#sharing_email label {
    font-size: .75em;
}

#sharing_email label {
    display: block;
}

.article-header__timestamp {
    color: #959595;
    font: 400 .75em/1 'Noto Serif JP', serif;
    letter-spacing: .02em;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 37.5em) {
    .article-header__timestamp {
        font-size: .65em;
    }
}

.article-body {
    padding: 0 2.5rem;
    position: relative;
}

@media (max-width: 37.5em) {
    .article-body {
        padding: 0 !important;
        max-height: 37.5em;
        overflow: hidden;
    }

    .article-body .p1 {
        padding: 15px 2.5rem;
    }
}

.article-body > p {
    margin-bottom: 1.75em;
}

.article-body > p:last-of-type {
    margin-bottom: 0;
}

.article-body p {
    font: 400 .9375em/1.813 'Noto Serif JP', serif;
}

@media (max-width: 37.5em) {
    .article-body p {
        font-size: .875rem;
        line-height: 1.57143;
    }
}

@media (max-width: 37.5em) {

    .image--align-left,
    .image--align-right {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 37.5625em) {
    .image--align-left {
        float: left;
        margin: 0 1.75em 1em 0;
    }

    .image--align-right {
        float: right;
        margin: 0 0 1em 1.75em;
    }
}

@media (min-width: 64.0625em) {
    .article-body__inner > * {
        margin-left: auto;
        margin-right: auto;
        max-width: 42.75rem;
    }
}

.article-body__inner > :last-child {
    margin-bottom: 2.5em;
}

.article-body__inner > :last-child:after {
    content: '';
    display: inline-block;
    height: .5em;
    margin-left: .33333em;
    width: .5em;
}

.article-body__inner img:not(.emoji) {
    clear: both;
    display: block;
    height: auto;
    margin: 0 auto .625rem;
    max-width: 650px;
    width: 100%;
}

.article-body__inner img {
    min-height: 1px;
}

.article-body__show-full {
    -ms-flex-align: center;
    align-items: center;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff 60%);
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    padding: 4em 2em;
    position: absolute;
    width: 100vw;
}

@media (min-width: 37.5625em) {
    .article-body__show-full {
        display: none;
    }
}

.article-body__show-full button {
    border: 0;
    border-radius: .3125em;
    color: #fff;
    cursor: pointer;
    font: 700 1em/1 'Noto Serif JP', serif;
    height: 2.8125rem;
    letter-spacing: .075em;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
    width: 100%;
}

.featured-image {
    margin-bottom: 1.875em;
}

.article-sidebar {
    float: right;
}

.styles__hidden__1c7-A {
    opacity: 0;
    pointer-events: none;
}

@-moz-document url-prefix() {
    .styles__stickyHeader__3Nu1Q:after {
        height: 1.5625rem;
    }
}

.styles__noTransition__Md0j_ {
    transition: none;
}

@media only screen and (min-width: 980px) {
    .sidebar {
        display: block !important;
        float: left;
        width: 300px !important;
        margin: 2% 0 0 6%;
    }
}




#progress_bar {
    margin-top: 15px
}

.progressbar.progressbar {
    background: #eaeaea;
    border: 0px solid whitesmoke;
    height: 11px;
    border-radius: 4px;
}

.progressbar.progressbar div {
    background: #d95350;
    height: 11px
}

.progressbar.progressbar.active div {
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes
}

.progress-striped.progressbar.progressbar div {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px
}

.items-count {
    margin-top: 0px;
    margin-bottom: 0px
}

.count {
    color: #a94442;
    padding: 1px;
    font-size: 20px;
}

.items-count p {
    padding-bottom: 5px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    font-family: "Open Sans", Arial, sans-serif
}

.progressbar {
    position: relative;
    display: block;
    background-color: #ca0000;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

.progressbar > div {
    background-color: #fc0d1c;
    width: 0;
    margin-bottom: 0;
    height: 15px;
}

.progressbar > div.less-than-ten {
    background-color: #fc0d1c !important;
    border-radius: 4px;
}

#clock-ticker {
    display: block;
    margin-bottom: 15px;
}

#clock-ticker .block {
    position: relative;
    color: #000;
    font-weight: bold;
    float: left;
    text-align: center;
    width: 25%;
}

#clock-ticker .block .flip-top {
    width: 88px;
    height: 39px;
    line-height: 40px;
    font-size: 45px;
    text-align: center
}

#clock-ticker .block .label,
span.flip-top {
    color: #555555;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    width: 88px;
    line-height: 25px;
    font-family: "Open Sans", Arial, sans-serif
}

.iprogressbar {
    margin: 0 auto;
    max-width: 70%;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: left;
}

.col-md-6 {
    width: 50%
}

.edu-course .details {
    padding: 20px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
    font-size: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 14px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#progress_bar {
    margin-top: 15px
}
.progressbar.progressbar {
    background: #eaeaea;
    border: 0px solid whitesmoke;
    height: 11px;
    border-radius: 4px;
}
.progressbar.progressbar div {
    background: #d95350;
    height: 11px
}
.progressbar.progressbar.active div {
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes
}
.progress-striped.progressbar.progressbar div {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px
}
#clock-ticker {
    display: block;
    margin-bottom: 15px;
}
#clock-ticker .block {
    position: relative;
    color: #000;
    font-weight: bold;
    float: left;
    text-align: center;
    width: 25%;
}
#clock-ticker .block .flip-top {
    width: 88px;
    height: 39px;
    line-height: 40px;
    font-size: 45px;
    text-align: center
}
#clock-ticker .block .label,
span.flip-top {
    color: #555555;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    width: 88px;
    line-height: 25px;
    font-family: "Open Sans", Arial, sans-serif
}
.iprogressbar{
    margin:0 auto;
    width:100%;
}
/** popup css by webby genius **/
.custom_overlay {
    width: 25%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 10px 10px;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    border-radius: 50px;
    transition: all 1s ease-in-out;
    border:1px solid rgba(0, 0, 0, 0.3);
        overflow:hidden;
}
.custom_overlay_target{
    visibility: visible;
    opacity: 1;
}
.custom_popup {
    padding:10px;
    background: #fff;
    border-radius: 20px;
    width: 100%;
    position: relative;
    transition: all 1s ease-in-out; 
        overflow:hidden;
}
.custom_popup:hover .close {
    display: block;
}
.custom_popup .close {
    position: absolute;
    top: 2px;
    right: 30px;
    transition: all 200ms;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    display: none;
    transition: all 1s ease-in-out;
}
.custom_loop .custom_popup .content {
    max-height: 30%;
    overflow: hidden;
    margin:0;
    margin-left:0px;
    font: 'Noto Serif JP', serif;
}
.custom_popup .content p {
    font-size:1em;
    margin:0;
    font: 'Noto Serif JP', serif;
    margin-bottom:5px;
}
.custom_popup .content span {
    color: #0095f7;
    font-size: 1em;
    font-weight: 600;
    font: 'Noto Serif JP', serif;
}
.img1{
    float:left;
    width:50px;
}
.custom_loop .content{
    float:left;
    margin-left:10px;
    padding-top:8px;
    width:80%;
    font: 'Noto Serif JP', serif;
}
.clear{
    float:none;
    clear:both;
}
.img3{
    float:left;
    width: 22px;
height: 22px;
background: #0095f7;
box-shadow: 0 0 0 rgba(0,149,247,.4);
border-radius: 50%;
margin-top:20px;
margin-left:10px;
}
.img3 {
  animation: img3 3s linear infinite 1.5s;
}
.con2{
    margin-left:20px!important;
    
}
@keyframes img3 {
  0% {
    box-shadow: 0 0 0 0 rgba(0,149,247,.4);
  }

  to {
    box-shadow: 0 0 0 19px rgba(0,149,247,0);
  }
}

.custom_loop .content img{
    margin-right:3px;
    vertical-align:middle;
    display:inline-block;
    width:auto;
}
.custom_loop{
    position:relative;
    z-index:9999;
}
@media only screen and (max-width:480px) {
    .custom_overlay {
        width:98%;
        margin:0 1%;
        bottom:5px;
    }
}